@charset "UTF-8";
@import url(sanitize.css);

html {
  font-size: 100%;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.7;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 2em;
}

p {
  color: red;
}

a {
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

main {
  width: 100%;
}

.header-contents {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.head-logo {
  width: 200px;
  height: 60px;
  background-color: #fff;
}
.logo {
  width: 80%;
  height: 80%;
}
